name: Sync Map Images

on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: sync-maps
  cancel-in-progress: true

jobs:
  sync-maps:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
          cache: 'pip'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        env:
          PA_TOKEN: ${{ secrets.PA_TOKEN }}
        run: python scraper.py

      - name: Commit & push changes
        if: github.ref == 'refs/heads/main'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          if git diff --quiet --exit-code Maps; then
            echo "No changes"
          else
            git add -A
            git commit -m "Sync map images"
            git push
          fi
